body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 5%; /* Proporcional à largura da tela */
    text-align: center;
    background: #f7f7f7; /* Cor de fundo suave para reduzir o contraste */
}

h1 {
    font-size: 6vw; /* Aumento do tamanho do título baseado na largura da tela */
}

select, button {
    margin: 3vw; /* Espaçamento proporcional baseado na largura da tela */
    padding: 5vw; /* Espaçamento interno proporcional */
    font-size: 5vw; /* Tamanho da fonte baseado na largura da tela */
    width: 80%; /* Largura relativa à tela para preencher mais espaço */
    display: block; /* Forçar novo bloco de linha */
    margin-left: auto; /* Centralizar elementos */
    margin-right: auto; /* Centralizar elementos */
}

#botoesContainer {
    margin-top: 5vh; /* Uso de unidades relativas ao tamanho da tela */
}

/* Media Queries */
@media (max-width: 600px) {
    body {
        padding: 10px; /* Preenchimento fixo para telas muito pequenas */
    }

    select, button {
        margin: 10px auto; /* Margem automática para centralização */
        padding: 15px; /* Preenchimento maior para toque fácil */
        font-size: 18px; /* Tamanho fixo da fonte para legibilidade */
        width: auto; /* Largura automática para ajuste de conteúdo */
    }

    h1 {
        font-size: 24px; /* Tamanho fixo da fonte para legibilidade */
    }

    #botoesContainer button {
        width: 100%; /* Botões preenchem a largura total */
        margin-bottom: 10px; /* Espaçamento entre botões */
    }
}
