body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10px; /* Reduzido para espaços pequenos */
    text-align: center;
}

select, button {
    margin: 5px; /* Reduzido para espaços pequenos */
    padding: 15px; /* Aumentado para melhor toque */
    font-size: 1.2em; /* Aumento da fonte para melhor leitura */
}

#botoesContainer {
    margin-top: 20px;
}

/* Media Queries */
@media (max-width: 600px) {
    body {
        font-size: 1em; /* Tamanho da fonte aumentado para dispositivos móveis */
    }

    h1 {
        font-size: 1.5em; /* Tamanho do título aumentado para melhor visibilidade */
    }

    select, button {
        width: 100%; /* Aproveitar toda a largura disponível */
        margin: 10px 0; /* Ajuste da margem para elementos em bloco */
        padding: 20px; /* Aumento do preenchimento para uma melhor área de toque */
        font-size: 1.5em; /* Aumento da fonte dos botões e selects */
    }

    #botoesContainer {
        flex-direction: column;
        align-items: stretch; /* Alinhamento esticado para aproveitar a largura total */
    }

    button {
        margin-bottom: 10px; /* Adicionando margem inferior para separar os botões */
    }
}
